

<app-mainnavbar></app-mainnavbar>
<!-- <app-navbar></app-navbar> -->
<!-- <router-outlet><router-outlet> -->


<body style="background-color: white;">
  <div class="container" >
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card mb-6 border-0 custom-margin-top">
          <!-- Card content here -->
          <img src="assets/newimage.jpg" class="card-img" alt="">
          <div class="card-body">
            <!-- Card body content here -->
          </div>
        </div>
      </div>
    </div>
  </div>
</body>