<div class="d-flex justify-content-center pt-5">
    <div class="row container d-flex justify-content-center">
        <div class="col-md-12">
            <div class="card px-3">
                <div class="card-body">
                    <div class="card-title d-flex flex-row justify-content-between">
                        <h4 class="">Task Details</h4>
                        <button [routerLink]="['/list']" class="btn btn-outline-secondary">Back</button>
                    </div>
                    <div class="list-container">
                        <div class="form-group font-bold mb-4 d-flex">
                            <div>
                                <label for="title">Title</label><br />
                                {{task.title}}
                            </div>
                            <div class="ml-auto">
                                <label for="title">Status</label><br />
                                {{task.completed ? 'Completed' : 'Pending'}}
                            </div>
                        </div>
                        <div class="form-group font-bold mb-4">
                            <label for="description">Description</label><br />
                            {{task.description}}
                        </div>
                        <div class="form-group font-bold mb-4">
                            <label for="dueDate">Due Date </label> <br />
                            {{task.dueDate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>